{% comment %}
  Renders Button popup

  Accepts:

  Usage:
  {% render 'button-popup' %}
{% endcomment %}

<div class="chatbot-popup-wrapper" id="chatbot-popup-wrapper">
  <div class="chatbot-popup"></div>
</div>

<script src="{{ 'button-popup.js' | asset_url }}" defer></script>
<link type="text/css" href="{{ 'button-popup.css' | asset_url }}" rel="stylesheet">
