<div class="chatbot-help-center">
    <div class="chatbot-help-center-title">Help Center</div>
    <div>Chat with FAQs</div>
    <div>Button</div>
</div>

<script src="{{ 'help-center.js' | asset_url }}" defer></script>
<link type="text/css" href="{{ 'help-center.css' | asset_url }}" rel="stylesheet">