<div id="chatbot-ui" class="chatbot-ui">
  {% render 'help-center' %}
  {% comment %} {% render 'chatting-faqs' %} {% endcomment %}
  {% render 'button-popup' %}
</div>

<link type="text/css" href="{{ 'general.css' | asset_url }}" rel="stylesheet">

{% schema %}
{
  "name": "Chatbot",
  "target": "section",
  "settings": []
}
{% endschema %}